# R specific files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Large files
*.csv
*.xlsx
*.xls
*.pdf
*.zip
*.tar.gz
*.tar
*.gz
*.rds
*.rda
*.feather
# Exception for raw data folder parquet files
!02_data/02-1_data_raw/*.parquet

# Exception for cleaned data folder parquet files
!02_data/02-2_data_clean/*.parquet

.Trashes
ehthumbs.db
Thumbs.db
